.name {
  margin-left: 500px;
  margin-top: 220px;
  color: black;
  font-weight: 900;
  font-family: bold sans-serif, dancing script, montecarlo;
  font-style: italic; 
  font-size: 21px;
}
.school_name{
  margin-left: 400px;
  margin-top: -10px;
  color: black;
  font-weight: 900;
  font-family: bold sans-serif, dancing script, montecarlo;
  font-style: italic; 
  font-size: 21px;
}
.class{
  margin-left: 370px;
  margin-top: -10px;
  color: black;
  font-weight: 900;
  font-family: bold sans-serif, dancing script, montecarlo;
  font-style: italic;
  font-size: 21px;
}
